/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Nunito+Sans & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Nunito+Sans&display=swap');
/* .parent {
  background-color: rgb(81, 218, 218);
  height: 600px;
  width: 100%;
} */
/* .img-fluid{
    height: 500px;
    width: 100%;
} */

body {
  background-color: #f4f4f4b2;
}

.link {
  text-decoration: none;
  color:  #000; 
}

.wrapper {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 300px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0.4%;
}

/* 画像のスライドショー */
.cover-slide {
    position: relative;
    overflow: hidden;
}

.cover-slide::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eaebe6;
  opacity: 0;
}
.cover-slide.inview::after {
  opacity: 1;
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1.6s;
          animation-duration: 1.6s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    transform-origin: left;
    transform: scaleX(0);
  }
  50% {
    transform-origin: left;
    transform: scaleX(1);
  }
  50.1% {
    transform-origin: right;
    transform: scaleX(1);
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}

.cover-slide p {
  font-family: 'Caramel', cursive;
  font-size: 5em;
  color: indianred;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
/* --------------------------------- */ 

/* 画像の中に文字を出力 */

.img-fluid{
    margin-bottom: 80px;
    height: 500px;
    width: 100%;
}

.footer {
  color: rgba(13, 12, 12, 0.764);
  text-align: center;
  font-size: 12px;
}
/* --------------------------------- */

/* Profile */
.full_name {
  font-family: 'Noto Sans JP', sans-serif;
}

.front_text {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  position: relative;
  margin: 50px;
  font-weight: 300;
  font-size: 35px;
  letter-spacing: 10px;
  border-bottom: 3px solid #cddc39;
}


.left_sp {
  display: lite; /*横並び*/
}


#img_left {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}


ul {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}


li {
    /* list-style: none;
    margin-left: 1.4em;
	  text-indent: -1.4em;
    margin-bottom: 5px */
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 960px;
    list-style: none;
    font-size: 1.5em;
    margin-left: 20px;
}

.animate-title,.animate-title2 {
  font-family: 'Nunito Sans', sans-serif;
  position: relative;
  margin: 50px;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 10px;
  border-bottom: 3px solid #cddc39;
}



/* --------------------------------- */


/* 学習したプログラミングスキル  */

.img-log {
  width:60px;
  height:60px;
}

.appeal_title {
  color: rgb(251, 11, 11); 
}

.appeal {
  font-size: 0.9rem;
}

/* --------------------------------- */

/* アニメーション animate-title.inview  */
.front_text.inview .char,.animate-title.inview .char,.animate-title2.inview .char {
  display: inline-block;
  -webkit-animation-name: kf-animate-chars;
          animation-name: kf-animate-chars;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
          animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.front_text.inview .char:nth-child(1),.animate-title.inview .char:nth-child(1),.animate-title2.inview .char:nth-child(1) {
  -webkit-animation-delay: 0.04s;
          animation-delay: 0.04s;
}
.front_text.inview .char:nth-child(2),.animate-title.inview .char:nth-child(2),.animate-title2.inview .char:nth-child(2) {
  -webkit-animation-delay: 0.08s;
          animation-delay: 0.08s;
}
.front_text.inview .char:nth-child(3),.animate-title.inview .char:nth-child(3),.animate-title2.inview .char:nth-child(3) {
  -webkit-animation-delay: 0.12s;
          animation-delay: 0.12s;
}
.front_text.inview .char:nth-child(4),.animate-title.inview .char:nth-child(4),.animate-title2.inview .char:nth-child(4) {
  -webkit-animation-delay: 0.16s;
          animation-delay: 0.16s;
}
.front_text.inview .char:nth-child(5),.animate-title.inview .char:nth-child(5),.animate-title2.inview .char:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.front_text.inview .char:nth-child(6),.animate-title.inview .char:nth-child(6) {
  -webkit-animation-delay: 0.24s;
          animation-delay: 0.24s;
}
.front_text.inview .char:nth-child(7),.animate-title.inview .char:nth-child(7) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}
.animate-title.inview .char:nth-child(8) {
  -webkit-animation-delay: 0.32s;
          animation-delay: 0.32s;
}
.animate-title.inview .char:nth-child(9) {
  -webkit-animation-delay: 0.36s;
          animation-delay: 0.36s;
}
.animate-title.inview .char:nth-child(10) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}
.animate-title.inview .char:nth-child(11) {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}
.animate-title.inview .char:nth-child(12) {
  -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s;
}
.animate-title.inview .char:nth-child(13) {
  -webkit-animation-delay: 0.59s;
          animation-delay: 0.59s;
}
.animate-title.inview .char:nth-child(14) {
  -webkit-animation-delay: 0.59s;
          animation-delay: 0.59s;
}
@-webkit-keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --------------------------------- */

/* <= typing */

#ty-start-page{
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:2rem;
  z-index:10;
  background-color:rgb(248, 248, 33);
  display:none;    /* Explanation required */
}

#ty-start-page.show, #ty-game.show, #ty-result-container.show{
  display: flex;
}

#ty-start-page > h1{
  margin-bottom:1.5rem;
}

#ty-start-page > h2{
  margin:2rem;
}

#ty-start-page > p > span{
  font-size:1.5rem;
  background-color: #fff;
  color: cornflowerblue;
  padding: 0 0.5rem;
  margin: 0 0.2rem;
  box-shadow:0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.500);
}

#ty-game{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ty-quote-container{
  margin: 1rem 0;
}

#ty-quote, #ty-textarea{
  width: 90vw;
  max-width: 600px;
  min-height: 20vh;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

#ty-quote{
  background-color: cornflowerblue;
  border: 1px solid #fff;
}

#ty-author{
  padding: 0.5rem;
  text-align: right;
}

#ty-textarea{
  color: black;
  font-weight: bold;
}

#ty-timer{
  border-bottom: 3px dashed;
  padding: 0 0.5rem;
  font-size: 2rem;
}

#ty-result-container{
  display:none;
  align-items:center;
  justify-content:center;
  position:fixed;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,252,255, 0.6);
  z-index: 10;
}

#ty-result{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  background-color: #333;
  padding:1.5rem;
  border: solid 5px cornflowerblue;
  margin-bottom:1rem;
}

#ty-quote-review{
  width:80vw;
  max-width:600px;
  min-height:18vh;
  background-color: #000;
  padding:1.5rem;
  font-size:1.5rem;
}

#ty-back-to-start{
  background-color:cornflowerblue;
  padding:0.5rem 2rem;
  margin-top:1rem;
  cursor:pointer;
  border:3px solid cornflowerblue;
  transition:0.3s;
}

#ty-back-to-start:hover{
  background-color: #fff;
  color:cornflowerblue;
}

#ty-back-to-start:active{
  transform:scale(0.98);
}

#ty-LPM{
  background-color: #111;
  padding:0 1rem;
  margin:1rem;
}

#ty-quote > span.correct{
  color:lightgreen;
}

#ty-quote > span.wrong{
  color:rgb(255, 0, 0);
}

#ty-quote > span.bar{
  border-bottom: 3px solid red;
}


/* <= typing */


/* .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 71em;
} */